body {
  background: rgb(10, 21, 37);
  background: linear-gradient(
    0deg,
    rgba(10, 21, 37, 1) 66%,
    rgba(68, 17, 47, 1) 100%
  );
  color: white;
}

nav a{
  color:white !important;
}

.aboutUsContainer {
  color: #fff;
  padding: 20px 0 70px 0;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.advantges {
  margin: 0 auto;
  width: 100%;
}

.advantegesp {
  color: white;
  text-align: left;
  margin: 0;
}

.number {
  color: #d40242;
  font-weight: 700;
  font-size: 3em;
  line-height: 0.9em;
  opacity: 0.7;
  width: 4vw;
  margin: 0px 0px 20px;
}

.card-text {
  font-size: 0.9em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  display: block;
  margin-top: 0;
}

.hithereh2 {
  height: 233px;
  line-height: 233px;
  font-family: "Shrikhand", cursive;
  font-size: 10em;
  font-weight: 400;
  position: relative;
  top: 0;
  left: 0;
  color: #fff;
}
.undraw {
  position: relative;
  top: 0;
  left: 0;
  margin-top: -250px;
  outline: none;
}

.footerContainer {
  width: 100%;
  color:#898b96;
  display: flex;
  justify-content: center;
  background: rgb(10, 21, 37);
  background: rgb(68, 17, 47);
  background: linear-gradient(
    0deg,
    rgba(68, 17, 47, 1) 30%,
    rgba(10, 21, 37, 1) 100%
  );
}
.notFoundMsgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  
}